[submodule "so_long"]
	path = so_long
	url = https://github.com/Anastacia-Canto/so_long
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/Anastacia-Canto/push_swap
[submodule "philosophers"]
	path = philosophers
	url = https://github.com/Anastacia-Canto/philosophers



[submodule "minishell"]
	path = minishell
	url = https://github.com/Anastacia-Canto/minishell
[submodule "cub3d"]
	path = cub3d
	url = https://github.com/Anastacia-Canto/cub3D
[submodule "cpp_modules"]
	path = cpp_modules
	url = git@github.com:Anastacia-Canto/cpp_modules.git
[submodule "inception"]
	path = inception
	url = git@github.com:Anastacia-Canto/inception.git
